<p> <%= data.title %></p>
<img src =<%= (data.img) %> alt ="준비중">
<p> <%= des %></p>
<p><%= price %></p>
<% for(index in offline.ulList) {%>
    <% if(offline.ulList2[index].cnt != '0') {%>
        <% if(bookstore[offline.ulList[index].title] != undefined) {%>
        <p><%= offline.ulList[index].title %></p>
        <p><%= offline.ulList2[index].cnt %></p>
        <p><%= bookstore[offline.ulList[index].title]['위도'] %></p>
        <p><%= bookstore[offline.ulList[index].title]['경도'] %></p>
        <%}}}%>


