<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Cocoon</title>
</head>
<body>
  
  <section>
    <h1>회원가입 페이지</h1>
  </section>
  
  <section>
    <form name="login" action="/signupX" method="post">
      아이디확인<br>
      <input type="text" name="user_ID" placeholder="아이디 입력" >
      <input type="button" name="user_IDcheck" value="아이디 확인">
      <br>
      비밀번호<br> 
      <input type="password" name="user_PW1" value="123456"><br>
      비밀번호 재확인<br> 
      <input type="password" name="user_PW2" value="123456">
      <input type="button" name="user_PWcheck" value="비밀번호 재확인">
      <br><br>
      <input type="submit" name="" value="제출">
    </form>
</section>


</body>
</html>