<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>obeta</title>

    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="header">
        <h1><a href="index.html">OWNBOOK</a></h1>
        <ul class="menu">
            <li><a href="#">HOME</a></li>
            <li><a href="">CHEAT</a></li>
            <li><a href="sign_in.html">LOGIN</a></li>            
            <!-- <li><a href=""></a>메뉴4</li>                        -->
        </ul>
    </div>
    <script>
        function login_ (){
            var getID = document.getElementById("ID");
            var getPW = document.getElementById("PASSWORD");

            if(ID != null){
                alert("id = " + getID.value +"\n" + "password = " + getPW.value);
            }
        }


    </script>
    <section>
        <form name = "signin" action = "/signin" method = "post">
            ID : <input type="text" id = "ID">
            PASSWORD : <input type = "password" id = "PASSWORD">
            <input type="submit" value="로그인">
            <input type="button" value="아이디 찾기">
            <input type="button" value="패스워드 찾기">
        </form>
    </section>

    <div class="container">
        
        <div class="content1">

        </div>
        <div class="content2">

        </div>
    </div>
</body>
</html>