.header{
    width: 1100px;
    height: 60px;
    background-color: lightblue;
    margin:0 auto;
    margin-top: 0px;
}


.header h1{
    color: white;
    float: left;
    line-height: 16px;
    text-decoration: none;
}
.header a{
    text-decoration: none;
    color: white;
}

.menu{
    float: right;
    width: 500px;
    height: 50px;
}

.menu li{
    float: left;
    width: 25%;
    list-style: none;
    line-height: 28px;
    color: white;
}

.menu a{
   color:white; 
   text-decoration: none;
}

.search{
    width: 1100px;
    height: inherit;
    margin: 0 auto;
    margin-top: 30px;
}

.searchin{
    display: grid;
    width: 600px;
    margin:0 auto;
    grid-template-columns: 570px 50px;
    height: 40px;
}
.login{
    display: block;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 30px;
    border : 5px solid lightblue;
    border-radius: 10px;
    
}
.login_a input{
    margin: 0 auto;
}
.login_b a{ 
    color:black; 
    text-decoration: none;
}

.container{
    width: 1100px;
    height: inherit;
    margin: 0 auto;
    margin-top: 30px;
    /* background-color: lightblue; */
}
.book_information{
    display:grid;
    grid-template-columns: 220px 350px 500px;
    margin-right: 50px;
}
.used{
    display: block;
    /* border: 3px solid gray; */
    margin-left: 5%;
}
.used_chat{
    display: block;
    border: 10px solid gray;
    background-color: white;
    margin-left: 5%;
    border-radius: 10px;
}
.map_{
    border: 3px solid gray;
    margin-left: 5%;
}
.content1{
    width: 1100px;
    height: 1fr;
    line-height: 90px;
    margin:0 auto;
    /* background-color: #26c6da; */
}
.recommand{
    width: 1100px;
    display:grid;
    grid-template-columns: 220px 220px 220px 220px 220px;
    margin-top: 10px;
    /* border: 2px solid gray; */
    margin:0 auto;
    margin-top: 0px;
}
.content2{
    width: 1fr;
    background-color: white;
}
.hide{
    display: none;
} 
.showstep1{
    max-height: 300px;
    overflow: hidden;
}
.showstep2{
    max-height: 600px;
    overflow: hidden;
}
.content{
    height: 1fr;
    background-color: gray;
}

.footer{
    width: 1100px;
    height: 60px;
    margin:0 auto;
    /* background-color: lightblue; */
}
